@media print and (min-resolution: 200dpi) {
    html, body {
        width: 210mm;
        height: 147.99mm;
        margin: 0;
        padding: 0;
    }
}

div, ul, li, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    list-style: none;
}

@page {
    margin: 0;
    padding: 0;
}

html, body {
    width: 210mm;
    height: 147.99mm;
    margin: 0;
    padding: 0;
}

body {
    .seat {
        width: 105mm;
        height: 147.99mm;
        float: left;
        display: flex; /* 子要素をflexboxで揃える */
        flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
        justify-content: center; /* 子要素をflexboxにより中央に配置する */
        align-items: center;  /* 子要素をflexboxにより中央に配置する */
    }
    .icon {
        width: 13.8mm;
        height: 20.1mm;
    }
    .back {
        width: 90mm;
        height: 90mm;
        background-image: url('background.png');
        background-size: contain;
        display: flex; /* 子要素をflexboxで揃える */
        flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
        justify-content: center; /* 子要素をflexboxにより中央に配置する */
        align-items: center;  /* 子要素をflexboxにより中央に配置する */
        .text {
            color: #333;
            .invitation {
                border-bottom: solid 0.5mm black;
                font-size: 12mm;
                text-align: center;
            }
            .date {
                margin-top: 4mm;
                font-size: 6mm;
                text-align: center;
            }
        }
    }
}

.risque {
    font-family: 'Risque', cursive;
}

.sofia {
    font-family: 'Sofia', cursive;
}

.berkshire {
    font-family: 'Berkshire Swash', cursive;
}

.bondon {
    font-family: 'Bonbon', cursive;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

.fontdiner {
    font-family: 'Fontdiner Swanky', cursive;
}