@media print {
    html {
        width: 1165px;
        height: 787px;
        box-sizing: border-box;
    }
    body {
        width: 1165px;
        height: 787px;
        box-sizing: border-box;
    }
}

div, ul, li, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    list-style: none;
}

@page {
    margin: 0;
    padding: 0;
    size: 1165px 787px;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    width: 1165px;
    height: 787px;
    box-sizing: border-box;
}
body {
    width: 1165px;
    height: 787px;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body {
    color: #333;
    position: relative;
    .content{
        position: absolute;
        margin-top: 32.25px;
        left: 50%;
        height: 722.5px;
        transform: translateX(-50%);
        width: 200mm;
        .main {
            h1 {
                font-size: 10mm;
                font-weight: normal;
                grid-column: 1 / 2;
                grid-row: 1;
                text-align: center;
                font-weight: bold;
            }
            .select {
                display: grid;
                grid-template-columns: repeat(auto-fit, 80mm);
                justify-content: center;
                text-justify: inter-ideograph;
                margin-top: 2mm;
                h2 {
                    font-size: 10mm;
                    font-weight: normal;
                    grid-column: 1 / 2;
                    grid-row: 1;
                    text-align: center;
                }
            }
            p {
                margin-top: 10mm;
                font-size: 6mm;
                text-align: center;
            }
        }
        .sub {
            margin-top: 6mm;
            font-size: 6mm;
            @row-height: 20mm;
            ul {
                li {
                    p {
                        height: @row-height;
                        line-height: @row-height;
                        width: 36mm;
                        text-align: justify;
                        -moz-text-align-last: justify;
                        text-align-last: justify;
                    }
                    border-bottom: 1px solid #aaa;
                }
            }
            .message {
                line-height: @row-height;
                height: 40mm;

            }
        }
    }
}
