@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);

@media print and (min-resolution: 200dpi) {

}

@page {
    size: 205mm 145mm;
    margin: 0;
}

div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html, body {
    width: 205mm;
    height: 144.9mm;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rounded Mplus 1c';
}

.sheet {
    background-image: url('./tranp.png');
    background-size: contain;
    width: 205mm;
    height: 144.9mm;
    page-break-after: always;
}
.sheet > div {
    float: left;
}

.left {
    width: 102.5mm;
    height: 144.9mm;
}

.right {
    width: 102.5mm;
    height: 144.9mm;
}

.left {
    position: relative;
}

.left > .text {
    height: 350px;
    width: 95mm;
    position: absolute;
    top: 50%;
    margin-top: -175px;
    /* transform: translateY(-50%); */
}

h1 {
    text-align: center;
    font-size: 6mm;
    margin: 0 8mm;
}

.left > .text > div {
    margin: 0 8mm;
    text-align: center;
    font-size: 2.8mm;
    line-height: 4.8mm;
}

.left > .text > .shu {
    margin-top: 3.4mm;
}

.left > .text > .desc {
    margin-top: 3.4mm;
}

.left > .text > .zaishu {
    margin-top: 3.4mm;
}

.left > .text > .seiku {
    margin-top: 3.4mm;
}

.left > .text > .name {
    margin-top: 3.4mm;
}

.left > .text > .year {
    margin-top: 0mm;
}

.right {
    position: relative;
}
.right > .info {
    width: 95mm;
    height: 350px;
    position: absolute;
    top: 50%;
    margin-top: -175px;
    /* transform: translateY(-50%); */

}

.right > .info > div {
    margin: 0 8mm;
    text-align: center;
    font-size: 3.5mm;
}

.right > .info > .date {
    margin-top: 3.4mm;
}

.right > .info > .kyosiki {
    margin-top: 2mm;
}

.right > .info > .party {
    margin-top: 2mm;
}

.right > .info > .place-header {
    margin-top: 15mm;
}

.right > .info > .place {
    margin-top: 3.4mm;
}

.right > .info > .address {
    margin-top: 3mm;
}

.right > .info > .tel {
    margin-top: 1.5mm;
}

.right > .info > .bikou {
    margin-top: 7mm;
    font-size: 2.3mm;
}

.right > .info > .limit {
    margin-top: 5mm;
    font-size: 2.3mm;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

h1 {
    font-family: 'Emilys Candy', cursive;
    font-weight: normal;
}

